/*  orange color for review box: hsl(20.39deg 100% 59.61%);
    violet shade for paragraph starting: hsl(320deg 48% 39.22%);
    gray shade for paragraph texts: hsl(0deg 0% 40%);
*/
body {
    margin: 0;
    margin-top: 5%;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
    background-color: black;
    font-size: 1.2rem;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    padding: 0rem 1rem;
    background-color: white;
}

.container h2 {
    line-height: 4rem;
    font-size: 3rem;
    margin: auto;
}

.para-color {
    font-family: 'Cabin', sans-serif;
    color: hsl(0deg 0% 40%);
    line-height: 2rem;
}

.headerLeft-color {
    color: hsl(320deg 48% 39.22%);
}

.button {
    background-color: hsl(20.39deg 100% 59.61%);
    padding: 1.5rem 1rem;
    text-align: center;
    color: white;
    width: 35%;
    border-radius: 0.5rem;
}
.button i{
    padding-right: 1rem;
}